<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mx-auto">
            <div class="col-lg-9">
                <div class="card px-5">
                    <div class="card-body">
                        <h4 class="card-title">My Todo list</h4>
                        <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <div *ngIf="!todolist" class="loader mx-auto"></div>
                                <li *ngFor="let item of todolist" [ngClass]="{completed:item.completed==true}">
                                    <div class='form-check '>
                                    <label class='form-check-label'><input class='checkbox' type='checkbox' [checked]="item.completed" /> 
                                    {{item.title}}
                                    <i class='input-helper'></i>
                                    </label>
                                    </div>
                                    <i class='remove mdi mdi-close-circle-outline'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>